<!DOCTYPE html>
<html>
  <head>
    <title>Yhat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://code.jquery.com/jquery-1.8.0.min.js"></script>
    <script src="/javascripts/jconsole.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/socket.io/socket.io.js" type="text/javascript" charset="utf-8"></script>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
  </head>


  <body>
  	<div id="parent" style="height: 600px;">
	  	<div id="console"></div>
  		<button id="exec-code">Send</button>
  	</div>

    <script type="text/javascript">
      var socket = io.connect();
      jqconsole = $('#console').jqconsole('Hi\n', '>>> ');
      var startPrompt = function () {
        // Start the prompt with history enabled.
        jqconsole.Prompt(true, function (input) {
          socket.emit("code", {"code": input})
          // Restart the prompt.
          startPrompt();
        });
      };

      socket.on("ready", function(data) {
        console.log(data);
      });

      socket.on("result", function(data) {
        console.log(data);
        jqconsole.Write(data.result + '\n', 'jqconsole-output');
      });

      $("#exec-code").click(function(e) {
        var code = editor.session.getTextRange(editor.getSelectionRange()).trim();
        jqconsole.Write(code + "\n\n", 'jqconsole-input');
        return false;
      });
      
    </script>
    </body>
</html>
