<!DOCTYPE html>
<html>
  <head>
    <title>Yhat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://code.jquery.com/jquery-1.8.0.min.js"></script>
    <script src="/javascripts/jconsole.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/socket.io/socket.io.js" type="text/javascript" charset="utf-8"></script>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
  </head>


  <body>
    <form id="lang-form">
        <select id="lang">
            <option value="r">R</option>
            <option value="python">Python</option>
        </select>
        <input type="submit" value="Launch">
  	</form>
    <div id="parent" style="height: 800px;">
	  	<div id="console"></div>
  		<button id="exec-code">Send</button>
  	</div>

    <script type="text/javascript">
      // $("#parent").hide();
      // var socket = io.connect();

      jqconsole = $('#console').jqconsole('\n', ">>> ", "...");
      var startPrompt = function () {
        if ($("#lang").val()=="r") {
          jqconsole.SetPromptLabel("> ", "+ ");
        }
        // Start the prompt with history enabled.
        jqconsole.Prompt(true, function (input) {
          // socket.emit("code", {"code": input})
          // Restart the prompt.
          startPrompt();
        });
      };

      // settings
      jqconsole.SetIndentWidth(4);

      jqconsole.RegisterShortcut('a', function() {
        this.MoveToStart();
      }); 
      jqconsole.RegisterShortcut('e', function() {
        this.MoveToEnd();
      }); 
      jqconsole.RegisterMatching('{', '}', 'brackets');
      jqconsole.RegisterMatching('[', ']', 'square-brackets');
      jqconsole.RegisterMatching('(', ')', 'parens');

      startPrompt();

      // socket.on("ready", function(data) {
      //   console.log(data);
      // });

      // socket.on("result", function(data) {
      //   jqconsole.Write(data.result + '\n', 'jqconsole-output');
      // });

      $("#exec-code").click(function(e) {
        var code = editor.session.getTextRange(editor.getSelectionRange()).trim();
        jqconsole.Write(code + "\n\n", 'jqconsole-input');
        return false;
      });
      $("#lang-form").submit(function(e) {
          socket.emit("setupenv", { lang: $("#lang").val() });    
          jqconsole.Reset(); 
          startPrompt();
          $("#parent").show();
          e.preventDefault();
      });
    </script>
    </body>
</html>
